.codepen-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.portfolio-new-page {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.page-header-title {
  text-align: center;
  font-family: Montserrat-Italic;
}
.editor-page {
  margin-top: 20rem;
}

.blog-editor-page,
.update-blog-page {
  margin-top: 12rem;
  flex-grow: 1;
}

.blog-slug-page {
  margin-top: 10rem;
  // width: 100%;
  margin-left: 8rem;
  margin-right: 2rem;
  background-color: rgb(218, 216, 216);
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem;
  h2 {
    text-align: center;
    text-transform: capitalize;
    font-family: Lobster;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.08rem;
  }
  hr {
    // background-color: ;
    // border: 0.3rem solid chocolate;
    // padding-right: 10rem;

    width: 100%;
  }
  p {
    font-size: 1.6rem;
    font-family: Inconsolata-Regular;
  }
  pre {
    padding: 1rem;
    background-color: #eee;
    white-space: pre-wrap;
  }
  img {
    max-width: 100%;
    max-height: 20rem;
  }
  blockquote {
    border-left: 0.2rem solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    color: #aaa;
    font-style: italic;
  }
  blockquote[dir="rtl"] {
    border-left: none;
    padding-left: 0;
    padding-right: 1rem;
    border-right: 0.2rem solid #ddd;
  }
  table {
    border-collapse: collapse;
  }
  td {
    padding: 1rem;
    border: 0.2rem solid #ddd;
  }
  input {
    box-sizing: border-box;
    font-size: 0.85em;
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid #ddd;
    background: #fafafa;
  }
  input:focus {
    outline: 0;
    border-color: blue;
  }
}

.blog-slug-page [data-slate-editor] > * + * {
  margin-top: 1rem;
  color: green;
}

@media only screen and (max-width: 760px) {
  .blog-slug-page {
    margin-left: 0;
    margin-right: 0;
  }
}
