.codepen-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.portfolio-new-page {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.page-header-title {
  text-align: center;
  font-family: Montserrat-Italic;
}
.editor-page {
  margin-top: 20rem;
}

.blog-editor-page,
.update-blog-page {
  margin-top: 12rem;
  flex-grow: 1;
}

@media only screen and (max-width: 760px) {
  .blog-slug-page {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    pading-top: 2rem;
  }
}
