@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.masthead {
  background: no-repeat center center;
  background-color: #868e96;
  height: 30rem;
  //<img> or <video> , should be resized to fit its container. not for background-image
  // object-fit: cover;
  position: relative;
  padding-bottom: 10rem;
  overflow: hidden;
  background-size: contain;
  // color: yellow;
  @include background-cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #272921;
    opacity: 0.5;
  }
  // .site-heading {
  //   // padding: 20rem 0 15rem;
  //   color: white;
  //   @media only screen and (min-width: 768px) {
  //     padding: 20rem 0;
  //   }
  // }
  .site-heading {
    padding: 8rem 0 15rem;
    color: black;

    text-align: center;
    h1 {
      font-size: 5rem;
      margin-top: 0;
      font-weight: 700;
    }
    .subheading {
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 1rem 0 0;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 8rem;
      }
    }
  }
}
.react-icon-masthead {
  margin-right: 4rem;
  svg {
    height: 4rem !important;
    width: 4rem !important;
    color: map-get($icon-colors, react);
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
