.speech {
  position: relative;
  // margin-left: 50rem;
  color: rgb(248, 187, 19);
  box-shadow: chocolate;
  padding: 2rem;
  background-color: rgb(52, 110, 235);
  width: 35rem;
  border-radius: 2rem;
  border-color: brown;
  display: "flex";
  flex-direction: column;
  text-align: center;
}
.speech::before {
  position: absolute;
  bottom: -2rem;
  left: 8rem;
  content: "";
  border: 2rem solid transparent;
  border-top-color: brown;
  border-bottom: 0;
}

.speech::after {
  position: absolute;
  top: -4rem;
  right: 10rem;
  content: "";
  border: 2rem solid transparent;
  //   border-radius: 2rem;

  border-bottom: 2rem solid transparent;
  //   border-top-color: green;
  border-bottom-color: brown;
}
