.avatar-box {
  color: white;
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
  background-color: map-get($background-colors, avatar);
  padding-top: 1rem;
  .algorithm-lang {
    height: 4rem;
    background-color: rgb(116, 4, 160);
    font-size: large;
    color: white;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
    // padding-top: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-right: 1rem;
  }
  img {
    height: 5rem;
    border-radius: 50%;
    margin-left: 1rem;
  }
  .title {
    font-family: IndieFlower-Regular;
  }

  .subtitle {
    font-size: 1.4rem;
  }
}
a {
  text-decoration: none;
}
