.baselayout {
  display: flex;
  // flex-direction: column;
  position: relative;
  // flex: 1;
  // height: 100vh;
  min-height: 100vh;
}
.baselayout.blog-slug {
  background-color: gray;
  min-height: 100vh;
}
.portfolio-new-layout {
  background-color: rgb(6, 178, 201);
}
// .dashboard-layout {
//   display: flex;
//   flex-direction: column;
// }

// @media only screen and (max-width: 700px) {
//   .baselayout {
//     width: 100%;
//   }
// }
