$background-colors: (
  "header": black,
  "dropdown-navbar": rgb(87, 7, 2),
  "side-nav": black,
  "contact-form": #01393a,
  "skills": black,
  "blog-listing-page": #ecedee,
  "blog-topics": #014d4e,
);

$icon-bg-colors: (
  "linkedin": rgb(41, 104, 221),
  "github": black,
  "py": #ffd43b,
  "angular": white,
  "blockchain": white,
);

$icon-colors: (
  "linkedin": white,
  "github": white,
  "stackoverflow": #f48024,
  "twitter": #00acee,
  "react": #61dbfb,
  "js": #f0db4f,
  "py": #306998,
  "angular": #dd1b16,
  "blockchain": #f7931a,
);
