.self-typed {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  padding-left: 1rem;
  // padding-top: 10rem;
  // margin-top: 10rem;
  font-size: 3rem;
  color: #04c404;
  font-family: "PressStart2P" !important;
  font-weight: bold;
  // letter-spacing: 0.2rem;
  background-color: black;
}
