// MIXINS
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Blog LISTING!
.blog-listing-page {
  min-height: 100vh;
  width: 100%;
  background-color: map-get($background-colors, blog-listing-page);

  .blog-body {
    padding: 3rem 2rem 0 2rem;
  }

  .post-preview {
    background-color: gray;
    margin-bottom: 1rem;
    border-radius: 2rem;
    padding-left: 2rem;
    margin-right: 4rem;
    > a {
      color: #750b0b;
      &:focus,
      &:hover {
        text-decoration: none;
        color: #03e8f8;
      }
      > .post-title {
        font-size: 3rem;
        margin-top: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      > .post-subtitle {
        font-weight: 300;
        margin: 0 0 1rem;
        color: #565656;
      }
    }

    > .post-meta {
      font-size: 1.8rem;
      font-style: italic;
      margin-top: 0;
      color: white;
      > a {
        text-decoration: none;
        color: #212529;
        &:focus,
        &:hover {
          text-decoration: underline;
          color: #03e8f8;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      > a {
        > .post-title {
          font-size: 3.6rem;
        }
      }
    }
  }

  // Styling for the footer
  footer {
    padding: 5rem 0 6.5rem;
    .list-inline {
      margin: 0;
      padding: 0;
    }
    .copyright {
      font-size: 1.4rem;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

// USER_BLOGS --------------------------------------
.base-page {
  &.blog-dashboard-page {
    padding-top: 4rem;
    flex-grow: 1;

    .user-blogs-list {
      list-style: none;
      padding-left: 0;

      > li {
        font-size: 2.8rem;
        color: black;
      }

      a {
        color: #424242;
      }
    }

    .blog-status-title {
      font-weight: bold;
    }

    .port-dropdown {
      margin-left: 1rem;
    }
  }
}

.blog-slug-page {
  margin-top: 10rem;
  border-radius: 2rem;
  // width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: map-get($background-colors, blog-slug-page);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // padding-left: 2rem;
  // position: relative;
  .blog-header {
    background-color: black;
    width: 100%;
    top: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
      text-align: center;
      color: rgb(197, 22, 197);
      text-transform: capitalize;
      font-family: Lobster;
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: 0.08rem;
    }
  }

  hr {
    color: purple;

    width: 100%;
  }
  p {
    font-size: 1.6rem;
    font-family: Inconsolata-Regular;
  }
  pre {
    padding: 1rem;
    background-color: #eee;
    white-space: pre-wrap;
  }
  img {
    max-width: 100%;
    max-height: 20rem;
  }
  blockquote {
    border-left: 0.2rem solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    color: #aaa;
    font-style: italic;
  }
  blockquote[dir="rtl"] {
    border-left: none;
    padding-left: 0;
    padding-right: 1rem;
    border-right: 0.2rem solid #ddd;
  }
  table {
    border-collapse: collapse;
  }
  td {
    padding: 1rem;
    border: 0.2rem solid #ddd;
  }
  input {
    box-sizing: border-box;
    font-size: 0.85em;
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid #ddd;
    background: #fafafa;
  }
  input:focus {
    outline: 0;
    border-color: blue;
  }
}

.blog-slug-page [data-slate-editor] > * + * {
  margin-top: 1rem;
  color: black;
}

@media only screen and (max-width: 700px) {
  .blog-slug-page {
    margin: 0 0;
    padding-top: 5.5rem;
    width: 100vw;
  }
  .blog-listing-page {
    .blog-body {
      padding: 0;
    }
  }
}
