// MIXINS
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Blog LISTING!
.blog-listing-page {
  min-height: 100vh;
  width: 100%;
  background-color: map-get($background-colors, blog-listing-page);

  .blog-body {
    padding: 3rem 2rem 0 2rem;
  }

  .post-preview {
    background-color: gray;
    margin-bottom: 1rem;
    border-radius: 2rem;
    padding-left: 2rem;
    margin-right: 4rem;
    > a {
      color: #750b0b;
      &:focus,
      &:hover {
        text-decoration: none;
        color: #03e8f8;
      }
      > .post-title {
        font-size: 3rem;
        margin-top: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      > .post-subtitle {
        font-weight: 300;
        margin: 0 0 1rem;
        color: #565656;
      }
    }

    > .post-meta {
      font-size: 1.8rem;
      font-style: italic;
      margin-top: 0;
      color: white;
      > a {
        text-decoration: none;
        color: #212529;
        &:focus,
        &:hover {
          text-decoration: underline;
          color: #03e8f8;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      > a {
        > .post-title {
          font-size: 3.6rem;
        }
      }
    }
  }

  // Styling for the footer
  footer {
    padding: 5rem 0 6.5rem;
    .list-inline {
      margin: 0;
      padding: 0;
    }
    .copyright {
      font-size: 1.4rem;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

// USER_BLOGS --------------------------------------
.base-page {
  &.blog-dashboard-page {
    padding-top: 5rem;
    flex-grow: 1;

    .user-blogs-list {
      list-style: none;
      padding-left: 0;

      > li {
        font-size: 2.8rem;
        color: black;
      }

      a {
        color: #424242;
      }
    }

    .blog-status-title {
      font-weight: bold;
    }

    .port-dropdown {
      margin-left: 1rem;
    }
  }
}

// @media only screen and (max-width: 70px) {
//   body {
//     background-color: lightblue;
//   }
// }
