.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
}

.cover.home {
  // background-image: url("/images/background.png");
  background-size: cover;
  background-color: black;
}
.flipper {
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 9999;
}

.back {
  transform: rotateY(180deg);
}

// .cover {
//   background-image: linear-gradient(45deg, #00aeef 0%, #096fb9 100%);
//   overflow: hidden;
//   position: relative;
// }

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 10rem;
  width: 100%;
  padding: 15rem 0 0;
}

.hero-section {
  height: 60vh;
  width: 40vw;
  margin-bottom: 5rem;
  // padding: 0 0;

  h2 {
    // color: rgb(177, 2, 2);
    font-weight: 1000;
    text-align: center;
    font-family: GreatVibes;
    letter-spacing: 0.2rem;
    color: white;
  }

  perspective: 100rem;
  color: white;
  width: 40rem;
  position: relative;
  &-frontend {
    color: rgb(221, 119, 50);
  }
  &-backend {
    color: rgb(15, 219, 42);
  }
  &-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    z-index: 1;
    text-align: center;
    font-weight: bold;
  }
}

.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repat;
  background-position: center;
}

.image-1 {
  background-image: url("/images/frontend.jpeg");
  background-size: cover;
  border-radius: 50%;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 0.2rem solid #3bace5;
}

.image-2 {
  background-image: url("/images/backend.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: 0.2rem solid #3bace5;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3);
}

// .hero-welcome-text > h1 {
//   color: white;
//   text-transform: uppercase;
//   font-size: 27px;
//   margin-top: 80px;
//   font-weight: 300;
// }

.hero-welcome-wrapper {
  justify-content: center;
  border-radius: 50%;
}

// .shadow-custom {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
//   // border: 2px solid #3bace5;

//   .shadow-inner {
//     width: 100%;
//     height: 100%;
//     // box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
//   }
// }

.shadow-custom-orange {
}
