@import "./slate-container";
// Shared
@import "./shared/maps";
@import "./shared/fonts";
@import "./shared/baselayout";
// Components
@import "./components/header";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/sideNav";
@import "./components/showcase";
@import "./components/skills";
@import "./components/contact_form";
@import "./components/blog-topics";
@import "./components/basepage";
@import "./components/portfolio-form";
@import "./components/blog-editor";
@import "./components/floading-box-anime";
@import "./components/loading";
@import "./components/masthead";

// Components/codepen
@import "./components/codepen/code-editor";
@import "./components/codepen/preview";
@import "./components/codepen/resizable";
@import "./components/codepen/syntax-highlighter";
// Pages
@import "./pages/index";
@import "./pages/portfolios";
@import "./pages/portfolio-detail";
@import "./pages/blogs";
@import "./pages/about";

html,
body {
  // height: 100%;
  // width: 100%;
  // overflow-x: hidden;
  // overflow-y: hidden;
  // display: flex;
  // width: calc(100vw - (100vw - 100%));
  font-size: 62.5%;
  font-family: "Montserrat", "Helvetica" !important;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

.clickable {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.self-typed {
  margin-left: auto;
  margin-right: auto;
  // padding-top: 10rem;
  // margin-top: 10rem;
  font-size: 3rem;
  color: #04c404;
  font-family: PressStart2P;
  font-weight: bold;
  // letter-spacing: 0.2rem;
  // background-color: black;
}

.avatar-box {
  img {
    height: 5rem;
    border-radius: 50%;
  }
  .title {
    font-family: IndieFlower-Regular;
  }

  .subtitle {
    font-size: 1.4rem;
  }
}
a {
  text-decoration: none;
}
