@import "./slate-container";
// Shared
@import "./shared/maps";
@import "./shared/fonts";
@import "./shared/baselayout";
// Components
@import "./components/header";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/sideNav";
@import "./components/showcase";
@import "./components/skills";
@import "./components/contact_form";
@import "./components/blog-topics";
@import "./components/basepage";
@import "./components/portfolio-form";
@import "./components/blog-editor";
@import "./components/floading-box-anime";
@import "./components/loading";
@import "./components/masthead";
@import "./components/speech-bubble";
// Components/codepen
@import "./components/codepen/code-editor";
@import "./components/codepen/preview";
@import "./components/codepen/resizable";
@import "./components/codepen/syntax-highlighter";
// Components/home-components
@import "./components/home-components/typed";
// Components/blog-view
@import "./components/blog-view/avatar";
// Pages
@import "./pages/index";
@import "./pages/portfolios";
@import "./pages/portfolio-detail";
@import "./pages/blogs";
@import "./pages/about";

html,
body {
  // height: 100%;
  // width: 100%;
  // overflow-x: hidden;
  // overflow-y: hidden;
  // display: flex;
  // width: calc(100vw - (100vw - 100%));
  font-size: 62.5%;
  // font-family: "Montserrat", "Helvetica";
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

.clickable {
  cursor: pointer;
}
.contaner {
  margin: 0;
}

code {
  // background-color: black;
  color: rgb(192, 8, 63);
}
