.editor-wrapper {
  position: relative;
  height: 100%;
  /* before width was 100%. when we added horizontal resize handler, which has 10px width, we had no space to add, so it was displaying under the code ditor. but we want it to right */
  /* width: calc(100%-10px); */
  width: 100%;
  button {
    background-color: #d6780d; /* Green */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
    /* change the value of opacity slowly */
    transition: opacity 0.3s;
  }
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}
